@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
    display: flex; 
    flex-direction: 'column';
    justify-content: 'center'; 
    align-items: 'center'; 
    /* min-height: 100vh;
    min-width: 100vh; */
    background-color: white;
}

/* @keyframes slideInAnimation {
  from {
    transform: translateX(100%);
    opacity: 0.7;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
} */

/* @keyframes slideOutAnimation {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0.3;
  }
} */

/* @keyframes fadeUpAnimation {
  from {
    transform: translateY(100%);
    opacity: 0.2;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
 */
