@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* TEST COVERFLOWWW */


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width:100%!important;
  width:100%;
  perspective:1000;
  -webkit-perspective:1000;
  perspective-origin:50% 50%;
  transform-style:preserve-3d;
  position:relative;
  margin:0 auto;
  overflow:hidden;
}

.coverflow {
  display: flex;
  justify-content: center;
  position:absolute;
  top:60%;
  /* left:50%; */
  backface-visibility: visible;
  transform:scale(1) translateZ(-600px);
  transform-style:preserve-3d;
  transform-origin:50% 50%;
  cursor:pointer;
}

.coverflow-item {
  height: 250px;
  width: 350px; 
  transform-origin:50% 50%;
  position:absolute;
  backface-visibility: visible;
  /* top:-175px; */
  /* left:-250px; */
  border:2px solid rgb(239 68 68);
  border-radius:16px;
  background-color:rgb(239 68 68);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  transition:0.5s all ease-out;

  /*Improvement*/
  transition:1.25s all cubic-bezier(.17,.75,.58,.95);
  -webkit-box-shadow: 0px 10px 27px -1px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 10px 27px -1px rgba(0,0,0,0.8);
  box-shadow: 0px 10px 27px -1px rgba(0,0,0,0.8);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  z-index: 1000;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(239 68 68);
  border-radius: 5px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}